<div th:fragment="header">
    <style>
        .navigation {
            background-color: #3498db;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navigation a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }
    </style>
<div class="navigation">
    <div>
        <a href="/login">Увійти</a>
        <a href="/signup">Реєстрація</a>
    </div>
    <div>
        <a href="#">Укр</a>
        <a href="#">Eng</a>
    </div>
</div>
</div>